target/
.idea/
*.iml
/target-old/
run/
test/

/nbproject/
nb-configuration.xml
nbactions.xml

.classpath
.factorypath
.project
.settings
.vscode
.DS_Store
/run*
map.csv
overview.xml
workspace/middle/KB/KB.xml
workspace/middle/SV/SV.xml
